#######################
# Python / général
#######################
**/__pycache__/
*.py[cod]
*.pyo

# Notebooks
**/.ipynb_checkpoints/

#######################
# Données brutes (MNIST)
#######################
src/ncsn/mnist/data/

#######################
# Résultats d'expériences NCSN GMM
#######################

# Frames temporaires pour les vidéos GMM
src/ncsn/gmm/out/

# Tous les runs (logs, modèles, figures, vidéos)
src/ncsn/gmm/runs/**/weights/
src/ncsn/gmm/runs/**/figures/
src/ncsn/gmm/runs/**/videos/out/
src/ncsn/gmm/runs/**/videos/*.mp4

# Garder hparams.json, ignorer les arrays numpy
src/ncsn/gmm/runs/

#######################
# Dossiers de tests / poubelle
#######################
src/trashtest/



src/ncsn/mnist/runs/